@import "tailwindcss";

@theme {
--color-blue-hover:oklch(37.9% 0.146 265.522);
--color-blue-base: oklch(48.8% 0.243 264.376);
--color-green-hover: oklch(39.3% 0.095 152.535);
--color-green-base: oklch(52.7% 0.154 150.069);
--color-gray-base: oklch(70.7% 0.022 261.325);
--color-gray-ligth: oklch(96.7% 0.003 264.542);
--color-purple-base: oklch(49.6% 0.265 301.924);
--color-purple-hover: oklch(38% 0.189 293.745);
}

